# Challenge Set 9
## Part IV: Tennis Data

*Intermediate - Advanced level SQL*

---

### Acquire data ###

Let's get some data and start playing with it!

We'll be using tennis data from [here](https://archive.ics.uci.edu/ml/datasets/Tennis+Major+Tournament+Match+Statistics).


Assuming you are working on your AWS instance, execute the following from the BASH (shell) terminal:

```bash
mkdir -p tennis/data
cd tennis/data
wget http://archive.ics.uci.edu/ml/machine-learning-databases/00300/Tennis-Major-Tournaments-Match-Statistics.zip
```

You may not have `unzip` installed on your AWS instance:

```bash
sudo apt-get install unzip
unzip Tennis-Major-Tournaments-Match-Statistics.zip
```

Before we start using SQL, open up the files with your favorite command line text editor and poke around!

### Prepare the data ###

The data has a mix of missing entries and entries that are the string `NA`. We'll use the command line program `sed` to fix that:

```bash
sed -i.bak s/NA//g AusOpen-women-2013.csv
```

Repeat this for each CSV file in the data set.

### Import the data into PostgreSQL ###

Now we start working in PostgreSQL. The remaining commands are executed from the SQL prompt.

You can create a new database with `CREATE DATABASE tennis;` -- if we use `\d`, we see there are not yet any tables (relations) in the database. So let's create one.

We have to specify the schema of our table, with detail about [data types](http://www.postgresql.org/docs/9.3/static/datatype.html).

```sql
CREATE TABLE  aus_ladies_2013 (
      player1 VARCHAR(255),
      player2 VARCHAR(255),
      round INT,
      result INT,
      fnl1 DOUBLE PRECISION,
      fnl2 DOUBLE PRECISION,
      fsp_1 DOUBLE PRECISION,
      fsw_1 DOUBLE PRECISION,
      ssp_1 DOUBLE PRECISION,
      ssw_1 DOUBLE PRECISION,
      ace_1 INT,
      dbf_1 INT,
      wnr_1 INT,
      ufe_1 INT,
      bpc_1 INT,
      bpw_1 INT,
      npa_1 INT,
      npw_1 INT,
      tpw_1 INT,
      st1_1 INT,
      st2_1 INT,
      st3_1 INT,
      st4_1 INT,
      st5_1 INT,
      fsp_2 DOUBLE PRECISION,
      fsw_2 DOUBLE PRECISION,
      ssp_2 DOUBLE PRECISION,
      ssw_2 DOUBLE PRECISION,
      ace_2 INT,
      dbf_2 INT,
      wnr_2 INT,
      ufe_2 INT,
      bpc_2 INT,
      bpw_2 INT,
      npa_2 INT,
      npw_2 INT,
      tpw_2 INT,
      st1_2 INT,
      st2_2 INT,
      st3_2 INT,
      st4_2 INT,
      st5_2 INT);
```

Now load data from a CSV file into this table:

```sql
COPY 
      aus_ladies_2013
FROM 
      '/home/my_user_name/tennis/data/AusOpen-women-2013.csv'
DELIMITER 
      ','
CSV HEADER;
```

Repeat this process for all of the other tables. *Hint:* You can make a new table with the same schema as an existing table. For example:

```sql
CREATE TABLE 
      aus_men_2013 
(LIKE 
      aus_ladies_2013);
```

Extension: Can you make the tennis data tidy?

### Some practice SQL queries ###

The following SQL commands can be used to explore the data. To maximize understanding of the syntax, type these rather than copying and pasting.

In [1]:
from sshtunnel import SSHTunnelForwarder

AWS_IP_ADDRESS = '54.149.231.104'
AWS_USERNAME = 'leo2506'
SSH_KEY_PATH = '/Users/liuriguang/.ssh/id_rsa'

server = SSHTunnelForwarder(
    AWS_IP_ADDRESS,
    ssh_username=AWS_USERNAME,
    ssh_pkey=SSH_KEY_PATH,
    remote_bind_address=('localhost', 5432),
)

server.start()
print(server.is_active, server.is_alive, server.local_bind_port)

True True 56977

In [2]:
from sqlalchemy import create_engine

# Postgres username, password, and database name
POSTGRES_IP_ADDRESS = 'localhost' ## This is localhost because SSH tunnel is active
POSTGRES_PORT = str(server.local_bind_port)
POSTGRES_USERNAME = 'leo2506'     ## CHANGE THIS TO YOUR POSTGRES USERNAME
POSTGRES_PASSWORD = 'leo2506' ## CHANGE THIS TO YOUR POSTGRES PASSWORD
POSTGRES_DBNAME = 'tennis'

# A long string that contains the necessary Postgres login information
postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}'
                .format(username=POSTGRES_USERNAME, 
                        password=POSTGRES_PASSWORD,
                        ipaddress=POSTGRES_IP_ADDRESS,
                        port=POSTGRES_PORT,
                        dbname=POSTGRES_DBNAME))

# Create the connection
cnx = create_engine(postgres_str)

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%config InlineBackend.figure_format = 'svg'
%matplotlib inline

In [4]:
sql_query = '''SELECT 
      player1, player2, result 
      FROM 
          us_men_2013 
      LIMIT 5;'''

pd.read_sql_query(sql_query, cnx)

              player1          player2  result
0     Richard Gasquet  Michael Russell       1
1     Stephane Robert  Albano Olivetti       1
2  Jan-Lennard Struff  Guillaume Rufin       0
3        Aljaz Bedene  Dmitry Tursunov       0
4     Feliciano Lopez    Florent Serra       1

In [5]:
sql_query = '''
    SELECT
          player1, result 
    FROM 
          us_men_2013 
    WHERE 
          player1 = 'Richard Gasquet';
            '''

pd.read_sql_query(sql_query, cnx)

           player1  result
0  Richard Gasquet       1
1  Richard Gasquet       1
2  Richard Gasquet       1
3  Richard Gasquet       1
4  Richard Gasquet       1
5  Richard Gasquet       0

In [6]:
sql_query = '''
        SELECT 
              player1, player2, result
        FROM
              us_men_2013 
        WHERE 
              player1 = 'Richard Gasquet';
            '''

pd.read_sql_query(sql_query, cnx)

           player1          player2  result
0  Richard Gasquet  Michael Russell       1
1  Richard Gasquet  Stephane Robert       1
2  Richard Gasquet  Dmitry Tursunov       1
3  Richard Gasquet     Milos Raonic       1
4  Richard Gasquet     David Ferrer       1
5  Richard Gasquet     Rafael Nadal       0

In [7]:
sql_query = '''
SELECT
      player1, player2, result 
FROM 
      us_men_2013 
WHERE 
      player1 = 'Richard Gasquet' OR player2 = 'Richard Gasquet';
            '''

pd.read_sql_query(sql_query, cnx)

           player1          player2  result
0  Richard Gasquet  Michael Russell       1
1  Richard Gasquet  Stephane Robert       1
2  Richard Gasquet  Dmitry Tursunov       1
3  Richard Gasquet     Milos Raonic       1
4  Richard Gasquet     David Ferrer       1
5  Richard Gasquet     Rafael Nadal       0

In [8]:
sql_query = '''
SELECT 
      COUNT(*)
FROM
      us_men_2013;
            '''

pd.read_sql_query(sql_query, cnx)

   count
0    126

In [9]:
sql_query = '''
SELECT
      player1, COUNT(*) 
FROM 
      us_men_2013 
GROUP BY 
      player1;
            '''

pd.read_sql_query(sql_query, cnx).head()

             player1  count
0        Jiri Vesely      1
1         Tommy Haas      3
2  Sergiy Stakhovsky      1
3      Paolo Lorenzi      1
4        Jurgen Zopp      1

In [10]:
sql_query = '''
SELECT 
      player1, AVG(result) 
FROM 
      us_men_2013 
GROUP BY
      player1;
            '''

pd.read_sql_query(sql_query, cnx)

                   player1       avg
0              Jiri Vesely  0.000000
1               Tommy Haas  0.666667
2        Sergiy Stakhovsky  0.000000
3            Paolo Lorenzi  0.000000
4              Jurgen Zopp  0.000000
5           Ernests Gulbis  0.000000
6        Collin Altamirano  0.000000
7               Rajeev Ram  1.000000
8          Jarkko Nieminen  0.000000
9               John Isner  0.666667
10         Richard Gasquet  0.833333
11      Jan-Lennard Struff  0.000000
12           Igor Sijsling  0.000000
13            Lukasz Kubot  0.000000
14             Lukas Lacko  0.000000
15           Pablo Andujar  0.500000
16            Albert Ramos  0.000000
17               Dudi Sela  0.000000
18            Donald Young  0.500000
19        Andrey Kuznetsov  0.000000
20             Robin Haase  0.000000
21       Fernando Verdasco  0.000000
22          Evgeny Donskoy  0.500000
23         Stephane Robert  1.000000
24  Edouard Roger-Vasselin  0.000000
25   Roberto Bautista Agut  0.500000
26         Thomas Fabbiano  0.000000
27           Jurgen Melzer  0.000000
28            Nick Kyrgios  0.000000
29              Ivan Dodig  0.500000
..                     ...       ...
51            Tobias Kamke  0.500000
52  Guillermo Garcia-Lopez  0.000000
53             James Blake  0.000000
54           Roger Federer  0.750000
55       Kenny De Schepper  0.000000
56             Yen-Hsun Lu  1.000000
57        Adrian Mannarino  1.000000
58        Santiago Giraldo  0.000000
59        Marcos Baghdatis  1.000000
60   Andreas Haider-Maurer  0.000000
61           Florian Mayer  1.000000
62            Benoit Paire  0.000000
63      Alex Bogomolov Jr.  0.000000
64       Marcel Granollers  1.000000
65     Rogerio Dutra Silva  0.500000
66            Adrian Ungur  0.000000
67           Bernard Tomic  0.000000
68          Jerzy Janowicz  0.000000
69         Mikhail Youzhny  1.000000
70       Mikhail Kukushkin  0.500000
71           Tommy Robredo  0.750000
72            Daniel Evans  1.000000
73               Jack Sock  0.500000
74          Rhyne Williams  0.000000
75         Albert Montanes  0.000000
76          Victor Hanescu  0.000000
77         Guillaume Rufin  0.000000
78           Ryan Harrison  0.000000
79           Andreas Seppi  0.666667
80   Philipp Kohlschreiber  0.000000

[81 rows x 2 columns]

In [11]:
sql_query = '''
SELECT 
      player1, player2, result 
FROM 
      us_men_2013 
WHERE 
      result = 1 
LIMIT 5;
            '''

pd.read_sql_query(sql_query, cnx)

                 player1          player2  result
0        Richard Gasquet  Michael Russell       1
1        Stephane Robert  Albano Olivetti       1
2        Feliciano Lopez    Florent Serra       1
3      Mikhail Kukushkin    Andrej Martin       1
4  Roberto Bautista Agut  Thomaz Bellucci       1

In [12]:
sql_query = '''
SELECT 
      COUNT(*) 
FROM 
      us_men_2013 
WHERE 
      result = 1;
            '''

pd.read_sql_query(sql_query, cnx)

   count
0     59

In [13]:
sql_query = '''
SELECT 
      player1, player2, result 
FROM 
      french_men_2013 
WHERE 
      result = 1 
LIMIT 5;
            '''

pd.read_sql_query(sql_query, cnx)

            player1                  player2  result
0  Somdev Devvarman  Daniel Munoz-De La Nava       1
1      Tobias Kamke            Paolo Lorenzi       1
2  Julien Benneteau        Ricardas Berankis       1
3         Jan Hajek              Denis Kudla       1
4      Gilles Simon           Lleyton Hewitt       1

In [14]:
sql_query = '''
SELECT 
      us_men_2013.player1, us_men_2013.tpw_1, french_men_2013.tpw_1 
FROM 
      us_men_2013, french_men_2013 
WHERE 
      us_men_2013.player1 = french_men_2013.player1;
            '''

pd.read_sql_query(sql_query, cnx)

                   player1  tpw_1  tpw_1
0             Tobias Kamke     62    140
1             Tobias Kamke    157    140
2         Julien Benneteau     63    163
3         Julien Benneteau     98    163
4         Julien Benneteau    125    163
5              Lukas Lacko    133     72
6         Adrian Mannarino    157    160
7          Benjamin Becker    125     85
8    Roberto Bautista Agut    104    100
9    Roberto Bautista Agut     87    100
10         Jarkko Nieminen    138    172
11              Joao Sousa    145     87
12       Marcel Granollers    145    132
13      Jan-Lennard Struff    149    132
14   Andreas Haider-Maurer     91     99
15           Andreas Seppi    134    171
16           Andreas Seppi    123    171
17           Andreas Seppi    138    171
18             Jurgen Zopp    116     58
19           Igor Sijsling    107     94
20          Ernests Gulbis    159     97
21       Sergiy Stakhovsky    156     57
22           Florian Mayer     77     87
23            Albert Ramos    165     94
24       Kenny De Schepper    133    125
25      Stanislas Wawrinka    127    146
26      Stanislas Wawrinka    151    146
27      Stanislas Wawrinka    111    146
28      Stanislas Wawrinka    103    146
29            Lukasz Kubot     86     90
..                     ...    ...    ...
114          Tommy Robredo    138    169
115     Stanislas Wawrinka    127    191
116     Stanislas Wawrinka    151    191
117     Stanislas Wawrinka    111    191
118     Stanislas Wawrinka    103    191
119             Tommy Haas     95     82
120             Tommy Haas    118     82
121             Tommy Haas     89     82
122         Novak Djokovic    102    134
123         Novak Djokovic    165    134
124         Novak Djokovic    115    134
125         Novak Djokovic     94    134
126         Novak Djokovic    102    134
127         Novak Djokovic     91    134
128          Tommy Robredo     43     46
129          Tommy Robredo    150     46
130          Tommy Robredo     92     46
131          Tommy Robredo    138     46
132         Novak Djokovic    102    116
133         Novak Djokovic    165    116
134         Novak Djokovic    115    116
135         Novak Djokovic     94    116
136         Novak Djokovic    102    116
137         Novak Djokovic     91    116
138         Novak Djokovic    102    158
139         Novak Djokovic    165    158
140         Novak Djokovic    115    158
141         Novak Djokovic     94    158
142         Novak Djokovic    102    158
143         Novak Djokovic     91    158

[144 rows x 3 columns]

In [15]:
sql_query = '''
SELECT 
      us_men_2013.player1, 
      SUM(us_men_2013.tpw_1) AS us_points, 
      SUM(french_men_2013.tpw_1) AS french_points
FROM 
      us_men_2013, french_men_2013 
WHERE 
      us_men_2013.player1 = french_men_2013.player1 
GROUP BY 
      us_men_2013.player1;
            '''

pd.read_sql_query(sql_query, cnx)

                   player1  us_points  french_points
0              Jiri Vesely        112            120
1               Tommy Haas       1208           1569
2        Sergiy Stakhovsky        156             57
3              Jurgen Zopp        116             58
4           Ernests Gulbis        159             97
5          Jarkko Nieminen        138            172
6       Jan-Lennard Struff        149            132
7            Igor Sijsling        214            226
8              Lukas Lacko        133             72
9             Lukasz Kubot         86             90
10            Albert Ramos        165             94
11        Andrey Kuznetsov        183             94
12       Fernando Verdasco        288            276
13             Robin Haase        149            115
14          Evgeny Donskoy        266            240
15  Edouard Roger-Vasselin        102             81
16   Roberto Bautista Agut        382            360
17            Nick Kyrgios         75             57
18              Ivan Dodig        156            344
19        Julien Benneteau        858           1203
20              Joao Sousa        145             87
21         Benjamin Becker        125             85
22         Feliciano Lopez        804            618
23           Denis Istomin        112             80
24      Stanislas Wawrinka       1968           2336
25     Alexandr Dolgopolov         84            116
26          Novak Djokovic       4014           4254
27            Tobias Kamke        219            280
28        Adrian Mannarino        157            160
29       Kenny De Schepper        133            125
30   Andreas Haider-Maurer         91             99
31           Florian Mayer         77             87
32            Benoit Paire        573            322
33       Marcel Granollers        145            132
34           Bernard Tomic        117             91
35         Mikhail Youzhny        435            401
36               Jack Sock        190            194
37           Tommy Robredo        846            860
38         Albert Montanes         57             63
39          Victor Hanescu        156             71
40           Andreas Seppi       1185           1263
41           Ryan Harrison         69            160

In [16]:
sql_query = '''
SELECT
      us_men_2013.player1, 
      SUM(us_men_2013.tpw_1) AS us_points, 
      SUM(french_men_2013.tpw_1) AS french_points, 
      SUM(us_men_2013.tpw_1 + french_men_2013.tpw_1) AS total_points 
FROM
      us_men_2013, french_men_2013 
WHERE 
      us_men_2013.player1 = french_men_2013.player1
GROUP BY
      us_men_2013.player1;
            '''

pd.read_sql_query(sql_query, cnx)

                   player1  us_points  french_points  total_points
0              Jiri Vesely        112            120           232
1               Tommy Haas       1208           1569          2777
2        Sergiy Stakhovsky        156             57           213
3              Jurgen Zopp        116             58           174
4           Ernests Gulbis        159             97           256
5          Jarkko Nieminen        138            172           310
6       Jan-Lennard Struff        149            132           281
7            Igor Sijsling        214            226           440
8              Lukas Lacko        133             72           205
9             Lukasz Kubot         86             90           176
10            Albert Ramos        165             94           259
11        Andrey Kuznetsov        183             94           277
12       Fernando Verdasco        288            276           564
13             Robin Haase        149            115           264
14          Evgeny Donskoy        266            240           506
15  Edouard Roger-Vasselin        102             81           183
16   Roberto Bautista Agut        382            360           742
17            Nick Kyrgios         75             57           132
18              Ivan Dodig        156            344           500
19        Julien Benneteau        858           1203          2061
20              Joao Sousa        145             87           232
21         Benjamin Becker        125             85           210
22         Feliciano Lopez        804            618          1422
23           Denis Istomin        112             80           192
24      Stanislas Wawrinka       1968           2336          4304
25     Alexandr Dolgopolov         84            116           200
26          Novak Djokovic       4014           4254          8268
27            Tobias Kamke        219            280           499
28        Adrian Mannarino        157            160           317
29       Kenny De Schepper        133            125           258
30   Andreas Haider-Maurer         91             99           190
31           Florian Mayer         77             87           164
32            Benoit Paire        573            322           895
33       Marcel Granollers        145            132           277
34           Bernard Tomic        117             91           208
35         Mikhail Youzhny        435            401           836
36               Jack Sock        190            194           384
37           Tommy Robredo        846            860          1706
38         Albert Montanes         57             63           120
39          Victor Hanescu        156             71           227
40           Andreas Seppi       1185           1263          2448
41           Ryan Harrison         69            160           229

## The challenges!

This challenge uses only SQL queries. Please submit answers in a markdown file.

1. Using the same tennis data, find the number of matches played by
   each player in each tournament. (Remember that a player can be
   present as both player1 or player2).

In [ ]:
sql_command = '''
CREATE TABLE test AS

SELECT  player1 AS name,
        'M' AS gender,
        'US' AS tournament,
        result AS win,
        FSP_1 AS fsp,
        DBF_1 AS dbf,
        UFE_1 AS ufe
FROM    us_men_2013

UNION ALL

SELECT  player2 AS name,
        'M' AS gender,
        'US' AS tournament,
        1-result AS win,
        FSP_2 AS fsp,
        DBF_2 AS dbf,
        UFE_2 AS ufe
FROM    us_men_2013

UNION ALL

SELECT  player1 AS name,
        'M' AS gender,
        'AUS' AS tournament,
        result AS win,
        FSP_1 AS fsp,
        DBF_1 AS dbf,
        UFE_1 AS ufe
FROM    aus_men_2013

UNION ALL

SELECT  player2 AS name,
        'M' AS gender,
        'AUS' AS tournament,
        1-result AS win,
        FSP_2 AS fsp,
        DBF_2 AS dbf,
        UFE_2 AS ufe
FROM    aus_men_2013

UNION ALL

SELECT  player1 AS name,
        'M' AS gender,
        'French' AS tournament,
        result AS win,
        FSP_1 AS fsp,
        DBF_1 AS dbf,
        UFE_1 AS ufe
FROM    french_men_2013

UNION ALL

SELECT  player2 AS name,
        'M' AS gender,
        'French' AS tournament,
        1-result AS win,
        FSP_2 AS fsp,
        DBF_2 AS dbf,
        UFE_2 AS ufe
FROM    french_men_2013

UNION ALL

SELECT  player1 AS name,
        'M' AS gender,
        'wimbledon' AS tournament,
        result AS win,
        FSP_1 AS fsp,
        DBF_1 AS dbf,
        UFE_1 AS ufe
FROM    wimbledon_men_2013

UNION ALL

SELECT  player2 AS name,
        'M' AS gender,
        'wimbledon' AS tournament,
        1-result AS win,
        FSP_2 AS fsp,
        DBF_2 AS dbf,
        UFE_2 AS ufe
FROM    wimbledon_men_2013

UNION ALL

SELECT  player1 AS name,
        'F' AS gender,
        'wimbledon' AS tournament,
        result AS win,
        FSP_1 AS fsp,
        DBF_1 AS dbf,
        UFE_1 AS ufe
FROM    wimbledon_ladies_2013

UNION ALL

SELECT  player2 AS name,
        'F' AS gender,
        'wimbledon' AS tournament,
        1-result AS win,
        FSP_2 AS fsp,
        DBF_2 AS dbf,
        UFE_2 AS ufe
FROM    wimbledon_ladies_2013

UNION ALL

SELECT  player1 AS name,
        'F' AS gender,
        'French' AS tournament,
        result AS win,
        FSP_1 AS fsp,
        DBF_1 AS dbf,
        UFE_1 AS ufe
FROM    french_ladies_2013

UNION ALL

SELECT  player2 AS name,
        'F' AS gender,
        'French' AS tournament,
        1-result AS win,
        FSP_2 AS fsp,
        DBF_2 AS dbf,
        UFE_2 AS ufe
FROM    french_ladies_2013

UNION ALL

SELECT  player1 AS name,
        'F' AS gender,
        'AUS' AS tournament,
        result AS win,
        FSP_1 AS fsp,
        DBF_1 AS dbf,
        UFE_1 AS ufe
FROM    aus_ladies_2013

UNION ALL

SELECT  player2 AS name,
        'F' AS gender,
        'AUS' AS tournament,
        1-result AS win,
        FSP_2 AS fsp,
        DBF_2 AS dbf,
        UFE_2 AS ufe
FROM    aus_ladies_2013

UNION ALL

SELECT  player1 AS name,
        'F' AS gender,
        'US' AS tournament,
        result AS win,
        FSP_1 AS fsp,
        DBF_1 AS dbf,
        UFE_1 AS ufe
FROM    us_ladies_2013

UNION ALL

SELECT  player2 AS name,
        'F' AS gender,
        'US' AS tournament,
        1-result AS win,
        FSP_2 AS fsp,
        DBF_2 AS dbf,
        UFE_2 AS ufe
FROM    us_ladies_2013;
            '''
cnx.execute(sql_command)

In [19]:
sql_query = '''
SELECT * FROM test  
            '''

pd.read_sql_query(sql_query, cnx)

                       name gender tournament  win   fsp   dbf   ufe
0           Richard Gasquet      M         US    1  63.0   7.0   NaN
1           Stephane Robert      M         US    1  61.0   2.0   NaN
2        Jan-Lennard Struff      M         US    0  55.0  13.0   NaN
3              Aljaz Bedene      M         US    0  52.0   8.0   NaN
4           Feliciano Lopez      M         US    1  58.0   3.0   NaN
5         Kenny De Schepper      M         US    0  59.0  11.0   NaN
6          Andrey Kuznetsov      M         US    0  53.0   8.0   NaN
7              Pablo Cuevas      M         US    0  51.0   6.0   NaN
8            Ernests Gulbis      M         US    0  58.0   8.0   NaN
9         Mikhail Kukushkin      M         US    1  51.0   5.0   NaN
10    Roberto Bautista Agut      M         US    1  75.0   1.0   NaN
11             Nick Kyrgios      M         US    0  69.0   3.0   NaN
12            Tommy Robredo      M         US    1  54.0   3.0   NaN
13              Robin Haase      M         US    0  58.0   4.0   NaN
14             Albert Ramos      M         US    0  55.0   9.0   NaN
15             Daniel Evans      M         US    1  48.0   4.0   NaN
16        Fernando Verdasco      M         US    0  59.0  14.0   NaN
17           Rhyne Williams      M         US    0  55.0   9.0   NaN
18            Ryan Harrison      M         US    0  62.0   2.0   NaN
19           Novak Djokovic      M         US    1  68.0   1.0   NaN
20          Benjamin Becker      M         US    1  52.0   5.0   NaN
21             Lukasz Kubot      M         US    0  38.0  14.0   NaN
22               Joao Sousa      M         US    1  58.0   2.0   NaN
23               Tommy Haas      M         US    1  59.0   5.0   NaN
24              Yen-Hsun Lu      M         US    1  67.0   4.0   NaN
25             Donald Young      M         US    1  74.0   7.0   NaN
26            Florian Mayer      M         US    1  65.0   1.0   NaN
27             Tobias Kamke      M         US    1  53.0   7.0   NaN
28            Denis Istomin      M         US    1  64.0   2.0   NaN
29         Julien Benneteau      M         US    1  61.0   6.0   NaN
...                     ...    ...        ...  ...   ...   ...   ...
1856       C Suarez Navarro      F         US    1  82.0   0.0  14.0
1857               C Garcia      F         US    0  64.0   3.0  23.0
1858       A Pavlyuchenkova      F         US    1  55.0   2.0   2.0
1859                  M Doi      F         US    0  58.0   5.0  23.0
1860                 Y Duan      F         US    0  65.0   4.0  46.0
1861             V Azarenka      F         US    1  51.0   1.0  10.0
1862               S Errani      F         US    1  69.0   2.0   8.0
1863               S Stosur      F         US    0  63.0  10.0  56.0
1864           A Tatishvili      F         US    0  63.0   5.0  22.0
1865               C McHale      F         US    1  58.0   5.0  13.0
1866             A Dulgheru      F         US    1  64.0  10.0  42.0
1867             M Burdette      F         US    0  68.0   3.0  33.0
1868             A Petkovic      F         US    0  74.0   5.0  40.0
1869           Y Meusburger      F         US    0  73.0   4.0  17.0
1870              M Koehler      F         US    0  45.0   8.0  47.0
1871                S Halep      F         US    1  73.0   6.0  42.0
1872             V Williams      F         US    1  52.0   5.0  20.0
1873       S.Soler-Espinosa      F         US    0  50.0   4.0  19.0
1874            F Schiavone      F         US    0  43.0   8.0  18.0
1875                   N Li      F         US    1  62.0   1.0  13.0
1876             S Stephens      F         US    1  58.0   6.0  55.0
1877                 M Keys      F         US    0  58.0   1.0  32.0
1878       L Dominguez Lino      F         US    0  60.0   5.0  21.0
1879         L Arruabarrena      F         US    0  52.0   4.0  18.0
1880              S Lisicki      F         US    1  43.0   6.0  30.0
1881           K Date-Krumm      F         US    0  69.0   3.0  43.0
1882             E Bouchard      F         US    1  72.0   2.0  29.0
1883               A Kerber      F         US    1  50.0   1.0   6.0
1884       C Suarez Navarro      F         US    1  78.0   1.0  12.0
1885     A Medina Garrigues      F         US    0  61.0   2.0  29.0

[1886 rows x 7 columns]

In [20]:
sql_query = '''
    SELECT name, tournament, COUNT(*) AS matches
    FROM test
    GROUP BY name, tournament
    ORDER BY 1,2   
            '''

pd.read_sql_query(sql_query, cnx)

                    name tournament  matches
0                A Barty         US        1
1                 A.Beck  wimbledon        2
2               A.Bedene  wimbledon        1
3        A.Bogomolov Jr.  wimbledon        1
4              A.Cadantu  wimbledon        2
5               A Cornet         US        3
6               A.Cornet  wimbledon        3
7           A.Dolgopolov  wimbledon        2
8       Adrian Mannarino        AUS        2
9       Adrian Mannarino     French        1
10      Adrian Mannarino         US        3
11          Adrian Ungur         US        1
12            A Dulgheru         US        2
13               A.Falla  wimbledon        1
14              A.Glatch  wimbledon        1
15   Agnieszka Radwanska        AUS        6
16   Agnieszka Radwanska     French        5
17       A.Haider-Maurer  wimbledon        1
18          A.Hlavackova  wimbledon        1
19            A Ivanovic         US        4
20            A.Ivanovic  wimbledon        2
21      Ajla Tomljanovic        AUS        2
22          A.Keothavong  wimbledon        1
23              A Kerber         US        4
24              A.Kerber  wimbledon        1
25           A.Kuznetsov  wimbledon        3
26       Albano Olivetti         US        1
27       Albert Montanes        AUS        1
28       Albert Montanes     French        2
29       Albert Montanes         US        1
..                   ...        ...      ...
945        Wayne Odesnik        AUS        1
946            W.Odesnik  wimbledon        1
947       Xavier Malisse     French        1
948       Xavier Malisse         US        1
949            X.Malisse  wimbledon        1
950     Yanina Wickmayer        AUS        2
951     Yanina Wickmayer     French        1
952   Yaroslava Shvedova        AUS        1
953   Yaroslava Shvedova     French        2
954               Y Duan         US        1
955          Yen-Hsun Lu        AUS        2
956          Yen-Hsun Lu     French        1
957          Yen-Hsun Lu         US        2
958               Y-H.Lu  wimbledon        2
959       Ying-Ying Duan        AUS        1
960         Y Meusburger         US        1
961         Y.Meusburger  wimbledon        1
962         Y.Putintseva  wimbledon        1
963           Y Shvedova         US        1
964           Y.Shvedova  wimbledon        1
965             Y-T.Wang  wimbledon        1
966     Yulia Putintseva        AUS        1
967     Yulia Putintseva     French        2
968   Yuliya Beygelzimer     French        1
969        Yung-Jan Chan        AUS        1
970    Yvonne Meusburger        AUS        3
971          Y.Wickmayer  wimbledon        1
972         Zarina Diyas        AUS        3
973             Ze Zhang        AUS        1
974        Zuzana Kucova     French        2

[975 rows x 3 columns]

In [21]:
# pivot the answer
sql_query = '''
WITH count AS    
(SELECT name, tournament, COUNT(*) AS matches
    FROM test
    GROUP BY name, tournament
    ORDER BY 1,2)

SELECT name,
       SUM(CASE tournament WHEN 'US' THEN matches ELSE 0 END) AS US,
       SUM(CASE tournament WHEN 'AUS' THEN matches ELSE 0 END) AS AUS,
       SUM(CASE tournament WHEN 'French' THEN matches ELSE 0 END) AS French,
       SUM(CASE tournament WHEN 'wimbleton' THEN matches ELSE 0 END) AS wimbleton
FROM count
GROUP BY name
            '''

pd.read_sql_query(sql_query, cnx)

                       name   us  aus  french  wimbleton
0                   D.Kudla  0.0  0.0     0.0        0.0
1                J.Cepelova  0.0  0.0     0.0        0.0
2                 F.Fognini  0.0  0.0     0.0        0.0
3                 M.Russell  0.0  0.0     0.0        0.0
4             Julia Glushko  0.0  1.0     1.0        0.0
5             R.Dutra Silva  0.0  0.0     0.0        0.0
6                  L Robson  3.0  0.0     0.0        0.0
7            Lesia Tsurenko  0.0  1.0     1.0        0.0
8           Michael Russell  1.0  1.0     1.0        0.0
9             Matthew Ebden  0.0  2.0     0.0        0.0
10               K Pliskova  1.0  0.0     0.0        0.0
11       Dominika Cibulkova  0.0  7.0     2.0        0.0
12             Albert Ramos  1.0  1.0     1.0        0.0
13     Aleksandr Nedovyesov  0.0  1.0     0.0        0.0
14            Martin Klizan  1.0  3.0     2.0        0.0
15                  I.Dodig  0.0  0.0     0.0        0.0
16                   M.Puig  0.0  0.0     0.0        0.0
17   Edouard Roger-Vasselin  2.0  3.0     2.0        0.0
18                  D.Brown  0.0  0.0     0.0        0.0
19              E Svitolina  1.0  0.0     0.0        0.0
20          Katarzyna Piter  0.0  1.0     0.0        0.0
21         L.Dominguez Lino  0.0  0.0     0.0        0.0
22         Christina McHale  0.0  2.0     1.0        0.0
23              M.Kirilenko  0.0  0.0     0.0        0.0
24      Francesca Schiavone  0.0  1.0     4.0        0.0
25                 A.Cornet  0.0  0.0     0.0        0.0
26               L.Tsurenko  0.0  0.0     0.0        0.0
27                S.Johnson  0.0  0.0     0.0        0.0
28                  F.Lopez  0.0  0.0     0.0        0.0
29               S Stephens  4.0  0.0     0.0        0.0
..                      ...  ...  ...     ...        ...
639             J.Duckworth  0.0  0.0     0.0        0.0
640        Thiemo De Bakker  0.0  0.0     1.0        0.0
641                 A Riske  3.0  0.0     0.0        0.0
642             J.Del Potro  0.0  0.0     0.0        0.0
643          Lucie Hradecka  0.0  2.0     1.0        0.0
644              N.Djokovic  0.0  0.0     0.0        0.0
645             M.Sharapova  0.0  0.0     0.0        0.0
646                Y-T.Wang  0.0  0.0     0.0        0.0
647               Jack Sock  3.0  2.0     2.0        0.0
648            Milos Raonic  4.0  3.0     3.0        0.0
649          Vasek Pospisil  1.0  2.0     1.0        0.0
650                K.Edmund  0.0  0.0     0.0        0.0
651              Ana Konjuh  0.0  1.0     0.0        0.0
652           Ryan Harrison  1.0  1.0     2.0        0.0
653            A.Dolgopolov  0.0  0.0     0.0        0.0
654            K.Zakopalova  0.0  0.0     0.0        0.0
655          Marion Bartoli  0.0  0.0     3.0        0.0
656          M.Duque-Marino  0.0  0.0     0.0        0.0
657             F.Schiavone  0.0  0.0     0.0        0.0
658           Gilles Muller  0.0  0.0     1.0        0.0
659            Alison Riske  0.0  3.0     0.0        0.0
660              A.Petkovic  0.0  0.0     0.0        0.0
661              Rajeev Ram  2.0  0.0     0.0        0.0
662         Maria Sharapova  0.0  4.0     7.0        0.0
663              A Dulgheru  2.0  0.0     0.0        0.0
664            Ivo Karlovic  2.0  1.0     0.0        0.0
665              Y.Shvedova  0.0  0.0     0.0        0.0
666          Heather Watson  0.0  1.0     1.0        0.0
667         Illya Marchenko  0.0  0.0     1.0        0.0
668            D Hantuchova  4.0  0.0     0.0        0.0

[669 rows x 5 columns]

2. Who has played the most matches total in all of US Open, AUST Open, 
   French Open? Answer this both for men and women.

In [22]:
sql_query = '''
WITH most AS    
(SELECT name, gender, COUNT(*) AS matches 
FROM test
GROUP BY name, gender
ORDER BY 1,2)

SELECT * FROM
(SELECT *, RANK() OVER(PARTITION BY gender ORDER BY matches DESC) AS rank
FROM most) rank_model
WHERE rank = 1;
            '''

pd.read_sql_query(sql_query, cnx)

                  name gender  matches  rank
0  Agnieszka Radwanska      F       11     1
1      Maria Sharapova      F       11     1
2      Serena Williams      F       11     1
3    Victoria Azarenka      F       11     1
4         Rafael Nadal      M       21     1

3. Who has the highest first serve percentage? (Just the maximum value
   in a single match.)

In [23]:
# Identify no ties after observing the data
sql_query = '''
SELECT name, gender, tournament, fsp
FROM test
ORDER BY fsp DESC
LIMIT 1
            '''

pd.read_sql_query(sql_query, cnx)

       name gender tournament   fsp
0  S Errani      F         US  93.0

4. What are the unforced error percentages of the top three players
   with the most wins? (Unforced error percentage is % of points lost
   due to unforced errors. In a match, you have fields for number of
   points won by each player, and number of unforced errors for each
   field.)

In [24]:
sql_query = '''
WITH all_wins AS
(SELECT name, SUM(win) total_wins
FROM test
GROUP BY name
ORDER BY 2 DESC),
top3_wins AS
(SELECT * FROM 
    (SELECT *, RANK() OVER(ORDER BY total_wins DESC) rank 
    FROM all_wins) rank_model
WHERE rank <= 3)

SELECT top.name,rank, ROUND(SUM(ufe)*100.0/SUM(dbf+ufe),2) AS ufe_percentage 
FROM top3_wins top JOIN test
ON top.name = test.name
GROUP BY 1,2
ORDER BY 2
            '''

pd.read_sql_query(sql_query, cnx)

                 name  rank  ufe_percentage
0        Rafael Nadal     1           93.60
1  Stanislas Wawrinka     2           91.98
2      Novak Djokovic     3           96.83
3        David Ferrer     3           90.89

*Hint:* `SUM(double_faults)` sums the contents of an entire column. For each row, to add the field values from two columns, the syntax `SELECT name, double_faults + unforced_errors` can be used.


*Special bonus hint:* To be careful about handling possible ties, consider using [rank functions](http://www.sql-tutorial.ru/en/book_rank_dense_rank_functions.html).

In [25]:
server.close()